html {
	display: flex;
}

body {
	width: 100%;
}

.flagIcon {
	height: 1.0rem;
}

.sticky-footer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sticky-footer-content {
	flex: 1 0 auto;
}

.sticky-footer-footer {
	border-top: 1px solid darkgray;
	background-color: #f5f5f5;
}